<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="JW.AUBE.Service.Config.providers.config, JW.AUBE.Service"/>

	<!--
	<database>
		<provider name="PostgreSql0.99.1.0" />
		<dataSource name="Aube" connectionString="Host=localhost;Username=aube;Password=aube;Database=JW.AUBE"/>
	</database>
	-->

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="AUBE" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AUBE;Integrated Security=True;"/>
  </database>
	
  <!--
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="DWCTS_C" connectionString="Data Source=211.233.41.212; Initial Catalog=DWCTS_C; User Id=sa; Password=Eodnjscom2008"/>
  </database>
  -->

	<alias>
		<typeAlias alias="LoginUserDataModel" type="JW.AUBE.Model.Auth.LoginUserDataModel, JW.AUBE.Model" />
		<typeAlias alias="MainMenuDataModel" type="JW.AUBE.Model.Auth.MainMenuDataModel, JW.AUBE.Model" />
		<typeAlias alias="PurcTran" type="JW.AUBE.Model.Purchase.PurcTranDataModel, JW.AUBE.Model" />
		<typeAlias alias="PurcTranItem" type="JW.AUBE.Model.Purchase.PurcTranItemDataModel, JW.AUBE.Model" />
		<typeAlias alias="PurcTranList" type="JW.AUBE.Model.Purchase.PurcTranListModel, JW.AUBE.Model" />
		<typeAlias alias="SaleTran" type="JW.AUBE.Model.Sales.SaleTranDataModel, JW.AUBE.Model" />
		<typeAlias alias="SaleTranItem" type="JW.AUBE.Model.Sales.SaleTranItemDataModel, JW.AUBE.Model" />
		<typeAlias alias="SaleTranList" type="JW.AUBE.Model.Sales.SaleTranListModel, JW.AUBE.Model" />
		<typeAlias alias="ProdTranData" type="JW.AUBE.Model.Production.ProdTranDataModel, JW.AUBE.Model" />
		<typeAlias alias="ProdTranList" type="JW.AUBE.Model.Production.ProdTranListModel, JW.AUBE.Model" />
		<typeAlias alias="InventoryList" type="JW.AUBE.Model.Inventory.InventoryListModel, JW.AUBE.Model" />
		<typeAlias alias="InvAdjsData" type="JW.AUBE.Model.Inventory.InvAdjsDataModel, JW.AUBE.Model" />
		<typeAlias alias="InvAdjsList" type="JW.AUBE.Model.Inventory.InvAdjsListModel, JW.AUBE.Model" />
		<typeAlias alias="SalesPriceDataModel" type="JW.AUBE.Model.Codes.SalesPriceDataModel, JW.AUBE.Model" />
		<typeAlias alias="SalesPriceListModel" type="JW.AUBE.Model.Codes.SalesPriceListModel, JW.AUBE.Model" />
		<typeAlias alias="ProductListModel" type="JW.AUBE.Model.Codes.ProductListModel, JW.AUBE.Model" />
		<typeAlias alias="ProductDataModel" type="JW.AUBE.Model.Codes.ProductDataModel, JW.AUBE.Model" />
		<typeAlias alias="AddressData" type="JW.AUBE.Model.Codes.AddressDataModel, JW.AUBE.Model" />
		<typeAlias alias="CostPriceData" type="JW.AUBE.Model.Profit.CostPriceDataModel, JW.AUBE.Model" />
		<typeAlias alias="CostPriceList" type="JW.AUBE.Model.Profit.CostPriceListModel, JW.AUBE.Model" />
		<typeAlias alias="ProfitList" type="JW.AUBE.Model.Profit.ProfitListModel, JW.AUBE.Model" />
		<typeAlias alias="SaleCategoryList" type="JW.AUBE.Model.Sales.SaleCategoryListModel, JW.AUBE.Model" />
		<typeAlias alias="SaleProductsList" type="JW.AUBE.Model.Sales.SaleProductsListModel, JW.AUBE.Model" />
		<typeAlias alias="SaleSumData" type="JW.AUBE.Model.Sales.SaleSumDataModel, JW.AUBE.Model" />
		<typeAlias alias="TableList" type="JW.AUBE.Model.System.TableListModel, JW.AUBE.Model" />
		<typeAlias alias="ColumnList" type="JW.AUBE.Model.System.ColumnListModel, JW.AUBE.Model" />
		<typeAlias alias="DataMap" type="JW.AUBE.Base.Map.DataMap, JW.AUBE.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.AuthSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.CalendarSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.CodesSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.DictionariesSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.LoginLogSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.MenusSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.UserMenusSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.UsersSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Auth.DatabaseSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Code.AddressSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Code.BizRegCeSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Code.CustomersSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Code.CustomerPhonesSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Code.CustomerAddressSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Code.ProductsSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Code.ProductMaterialsSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Common.CodeHelpSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.SalesSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.PurchaseSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.ProductionSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.InventorySQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.InventoryAdjsSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.CostPriceSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.ProfitSQL.xml, JW.AUBE.Service" />
		<sqlMap embedded="JW.AUBE.Service.SqlMaps.Business.CreditSQL.xml, JW.AUBE.Service" />
	</sqlMaps>
  
</sqlMapConfig>