<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="JW.AUBE.Data.Config.providers.config, JW.AUBE.Data"/>

	<!--
	<database>
		<provider name="PostgreSql0.99.1.0" />
		<dataSource name="Aube" connectionString="Host=localhost;Username=aube;Password=aube;Database=JW.AUBE"/>
	</database>
	-->

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="AUBE" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AUBE;Integrated Security=True;"/>
  </database>
	
  <!--
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="DWCTS_C" connectionString="Data Source=211.233.41.212; Initial Catalog=DWCTS_C; User Id=sa; Password=Eodnjscom2008"/>
  </database>
  -->

	<alias>
		<typeAlias alias="LoginUser" type="JW.AUBE.Data.Models.Base.LoginUserData, JW.AUBE.Data" />
		<typeAlias alias="PurcTran" type="JW.AUBE.Data.Models.Purchase.PurcTranDataModel, JW.AUBE.Data" />
		<typeAlias alias="PurcTranItem" type="JW.AUBE.Data.Models.Purchase.PurcTranItemDataModel, JW.AUBE.Data" />
		<typeAlias alias="PurcTranList" type="JW.AUBE.Data.Models.Purchase.PurcTranListDataModel, JW.AUBE.Data" />
		<typeAlias alias="SaleTran" type="JW.AUBE.Data.Models.Sales.SaleTranDataModel, JW.AUBE.Data" />
		<typeAlias alias="SaleTranItem" type="JW.AUBE.Data.Models.Sales.SaleTranItemDataModel, JW.AUBE.Data" />
		<typeAlias alias="SaleTranList" type="JW.AUBE.Data.Models.Sales.SaleTranListDataModel, JW.AUBE.Data" />
		<typeAlias alias="ProdTranData" type="JW.AUBE.Data.Models.Production.ProdTranDataModel, JW.AUBE.Data" />
		<typeAlias alias="ProdTranList" type="JW.AUBE.Data.Models.Production.ProdTranListModel, JW.AUBE.Data" />
		<typeAlias alias="InventoryList" type="JW.AUBE.Data.Models.Inventory.InventoryListModel, JW.AUBE.Data" />
		<typeAlias alias="DataMap" type="JW.AUBE.Base.Map.DataMap, JW.AUBE.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.AuthSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.CalendarSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.CodesSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.DictionariesSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.LoginLogSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.MenusSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.UserMenusSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Auth.UsersSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Code.AddressSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Code.BizRegCeSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Code.CustomersSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Code.CustomerPhonesSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Code.CustomerAddressSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Code.ProductsSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Code.ProductMaterialsSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Common.CodeHelpSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Sales.SalesSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Purchase.PurchaseSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Production.ProductionSQL.xml, JW.AUBE.Data" />
		<sqlMap embedded="JW.AUBE.Data.SqlMaps.Inventory.InventorySQL.xml, JW.AUBE.Data" />
	</sqlMaps>
  
</sqlMapConfig>